<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fakhry.pinbuk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.activity.AddNewBooksActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.activity.BooksActivity" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.SignInActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".ui.activity.splashscreen.OnBoardingOneActivity" />
        <activity android:name=".ui.activity.splashscreen.OnBoardingTwoActivity" />
        <activity android:name=".ui.activity.splashscreen.OnBoardingThreeActivity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity
            android:name=".ui.activity.splashscreen.SplashScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>